<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/ipa-rcs-001/RCS.001/CR%20-%20RCS_3.2872.2_001.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://rcs-store.github.io/RCS/img/rcs/cr.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>nt.nr.ios</string>
<key>bundle-version</key>
<string>3.2872.2</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>NR - RCS</string>
</dict>
</dict>
</array>
</dict>
</plist>
